In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math

Single population sample

In [33]:
np.random.seed(6)# seed do you get the same results
population_ages1 =stats.poisson.rvs(loc=18, mu=35,size=150000)
population_ages2 =stats.poisson.rvs(loc=18, mu=10,size=150000)
population_ages = np.concatenate((population_ages1,population_ages2))

min_ages1 = stats.poisson.rvs(loc=18, mu=30, size=30)
min_ages2 = stats.poisson.rvs(loc=18, mu=10, size=100)
min_ages = np.concatenate((min_ages1, min_ages2))

print(population_ages1.mean())
print(min_ages.mean())

53.00536
32.3

In [34]:
stats.ttest_1samp(a = min_ages, popmean= population_ages.mean())

Ttest_1sampResult(statistic=-10.704046598417447, pvalue=1.5883908410125876e-19)

two sample t-test

In [35]:
np.random.seed(5)
wisc1 = stats.poisson.rvs(loc=18, mu=33, size=100)
wisc2 = stats.poisson.rvs(loc=18, mu=13, size=30)
wisc_ages = np.concatenate((wisc1, wisc2))

print(wisc_ages.mean())

46.315384615384616

In [36]:
stats.ttest_ind(a=wisc_ages,b= min_ages, equal_var=False)

Ttest_indResult(statistic=12.139479211378195, pvalue=4.678596756027852e-27)

Paired t-test

In [44]:
np.random.seed(11)
before = stats.norm.rvs(scale=30, loc=100, size= 35)
after = before + stats.norm.rvs(scale= 5,loc=-5, size= 35 )
weight_df = pd.DataFrame({'weight_before':before, 'weight_after':after, 'weight_change':after-before})
weight_df.describe()

       weight_before  weight_after  weight_change
count      35.000000     35.000000      35.000000
mean       98.394164     93.564667      -4.829497
std        26.620345     27.988154       4.952044
min        20.400443      7.666130     -13.420554
25%        84.653133     77.970613      -9.055756
50%        94.426740     89.317326      -4.540808
75%       117.869080    110.323975      -1.760827
max       152.483642    147.802001       5.783372

running paried t-test

In [45]:
stats.ttest_rel(a=before,b=after)

Ttest_relResult(statistic=5.769675958627695, pvalue=1.7151951793871342e-06)