In [10]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

sns.set(style="darkgrid")

1st Data source

In [ ]:
data = pd.read_csv('largestToSmallest.csv')

In [12]:
data.head #or data.describe

<bound method NDFrame.head of     Rank                              Airports (large hubs)  IATA  \
0  -2017                                                NaN  Code
1      1   Hartsfield–Jackson Atlanta International Airport   ATL
2      2                  Los Angeles International Airport   LAX
3      3                       O'Hare International Airport   ORD
4      4            Dallas/Fort Worth International Airport   DFW
5      5                       Denver International Airport   DEN
6      6              John F. Kennedy International Airport   JFK
7      7                San Francisco International Airport   SFO
8      8                     McCarran International Airport   LAS
9      9               Seattle–Tacoma International Airport   SEA
10    10            Charlotte Douglas International Airport   CLT
11    11               Newark Liberty International Airport   EWR
12    12                      Orlando International Airport   MCO
13    13           Phoenix Sky Harbor International Airport   PHX
14    14                        Miami International Airport   MIA
15    15               George Bush Intercontinental Airport   IAH
16    16                        Logan International Airport   BOS
17    17       Minneapolis–Saint Paul International Airport   MSP
18    18                       Detroit Metropolitan Airport   DTW
19    19    Fort Lauderdale–Hollywood International Airport   FLL
20    20                 Philadelphia International Airport   PHL
21    21                                  LaGuardia Airport   LGA
22    22         Baltimore–Washington International Airport   BWI
23    23               Salt Lake City International Airport   SLC
24    24          Ronald Reagan Washington National Airport   DCA
25    25            Washington Dulles International Airport   IAD
26    26                    San Diego International Airport   SAN
27    27                       Midway International Airport   MDW
28    28                        Tampa International Airport   TPA
29    29             Daniel K. Inouye International Airport   HNL
..   ...                                                ...   ...
31    31                                  Dallas Love Field   DAL
32    32            St. Louis Lambert International Airport   STL
33    33                    Nashville International Airport   BNA
34    34             Austin-Bergstrom International Airport   AUS
35    35                           William P. Hobby Airport   HOU
36    36                      Oakland International Airport   OAK
37    37    Norman Y. Mineta San José International Airport   SJC
38    38  Louis Armstrong New Orleans International Airport   MSY
39    39               Raleigh-Durham International Airport   RDU
40    40                  Kansas City International Airport   MCI
41    41                   Sacramento International Airport   SMF
42    42                                 John Wayne Airport   SNA
43    43            Cleveland Hopkins International Airport   CLE
44    44                  San Antonio International Airport   SAT
45    45            Southwest Florida International Airport   RSW
46    46                 Indianapolis International Airport   IND
47    47                   Pittsburgh International Airport   PIT
48    48             Luis Muñoz Marín International Airport   SJU
49    49  Cincinnati/Northern Kentucky International Air...   CVG
50    50          John Glenn Columbus International Airport   CMH
51    51                                    Kahului Airport   OGG
52    52                      Bradley International Airport   BDL
53    53                   Palm Beach International Airport   PBI
54    54             General Mitchell International Airport   MKE
55    55                 Jacksonville International Airport   JAX
56    56        Ted Stevens Anchorage International Airport   ANC
57    57                  Albuquerque International Sunport   ABQ
58    58                          Hollywood Burbank Airport   BUR
59    59              Buffalo Niagara International Airport   BUF
60    60                                    Eppley Airfield   OMA

             Major city served  State     2017[3]     2016[4]     2015[5]  \
0                          NaN    NaN         NaN         NaN         NaN
1                      Atlanta     GA  50,251,962  50,501,858  49,340,732
2                  Los Angeles     CA  41,232,416  39,636,042  36,351,226
3                      Chicago     IL  38,593,028  37,589,899  36,305,668
4            Dallas/Fort Worth     TX  31,861,933  31,283,579  31,589,832
5                       Denver     CO  29,809,091  28,267,394  26,280,043
6                     New York     NY  29,533,154  29,239,151  27,782,369
7                San Francisco     CA  26,900,016  25,707,101  24,190,549
8                    Las Vegas     NV  23,364,185  22,833,267  21,824,231
9               Seattle/Tacoma     WA  22,639,120  21,887,110  21,231,781
10                   Charlotte     NC  22,011,225  21,511,880  21,913,166
11           Newark/New Jersey     NJ  21,571,194  19,923,009  18,684,818
12                     Orlando     FL  21,565,444  20,283,541  18,759,938
13                     Phoenix     AZ  21,185,440  20,896,265  21,351,445
14                       Miami     FL  20,709,205  20,875,813  20,986,341
15                     Houston     TX  19,603,729  20,062,072  20,595,874
16                      Boston     MA  19,145,096  17,749,202  16,290,362
17        Minneapolis/St. Paul     MN  19,002,544  18,123,844  17,634,252
18                     Detroit     MI  17,325,600  16,826,287  16,255,520
19             Fort Lauderdale     FL  16,216,686  14,263,270  13,061,607
20                Philadelphia     PA  14,760,585  14,564,419  15,101,318
21                    New York     NY  14,737,834  14,706,123  14,762,593
22  Baltimore/Washington, D.C.     MD  13,214,185  12,340,972  11,738,828
23              Salt Lake City     UT  12,098,835  11,143,738  10,634,519
24            Washington, D.C.     VA  11,966,354  11,470,854  11,242,375
25            Washington, D.C.     VA  11,407,107  10,596,942  10,363,918
26                   San Diego     CA  11,107,078  10,340,164   9,985,739
27                     Chicago     IL  10,911,970  11,044,353  11,044,387
28                       Tampa     FL   9,830,583   9,194,994   9,150,414
29                    Honolulu     HI   9,743,989   9,656,340   9,656,340
..                         ...    ...         ...         ...         ...
31                      Dallas     TX   7,876,769   7,554,596   7,040,921
32                   St. Louis     MO   7,372,805   6,793,076   6,239,231
33                   Nashville     TN   7,015,119   6,338,517   5,708,852
34                      Austin     TX   6,973,115   6,095,545   5,797,547
35                     Houston     TX   6,741,870   6,285,181   5,937,944
36                     Oakland     CA   6,530,308   5,934,639   5,506,672
37                    San Jose     CA   6,225,148   5,321,603   4,885,690
38                 New Orleans     LA   6,005,527   5,569,705   5,329,696
39              Raleigh/Durham     NC   5,851,004   5,401,714   4,954,717
40                 Kansas City     MO   5,744,918   5,391,557   5,135,127
41                  Sacramento     CA   5,460,526   4,969,366   4,816,440
42                   Santa Ana     CA   5,195,047   5,217,242   4,945,175
43                   Cleveland     OH   4,562,740   4,205,739   4,083,476
44                 San Antonio     TX   4,521,611   4,179,994   4,091,389
45                  Fort Myers     FL   4,461,304   4,277,214   4,159,212
46                Indianapolis     IN   4,376,432   4,216,766   3,889,567
47                  Pittsburgh     PA   4,327,431   3,986,114   3,890,677
48                    San Juan     PR   4,163,587   4,343,354   4,218,785
49        Cincinnati/Covington  OH/KY   3,926,158   3,269,979   3,036,697
50                    Columbus     OH   3,765,007   3,567,864   3,312,496
51                     Kahului     HI   3,442,189   3,352,813   3,220,753
52                    Hartford     CT   3,214,976   2,982,194   2,926,047
53             West Palm Beach     FL   3,166,532   3,100,624   3,113,485
54                   Milwaukee     WI   3,121,910   3,327,536   3,229,876
55                Jacksonville     FL   2,759,067   2,729,129   2,716,465
56                   Anchorage     AK   2,556,188   2,563,524   2,525,876
57                 Albuquerque     NM   2,483,861   2,341,719   2,323,850
58                     Burbank     CA   2,365,361   2,104,625   1,972,531
59                     Buffalo     NY   2,348,463   2,313,724   2,331,545
60                       Omaha     NE   2,303,223   2,127,387   2,046,155

       2014[6]     2013[7]     2012[8]     2011[9]    2010[10]    2009[11]  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1   46,604,273  45,308,407  45,798,809  44,414,121  43,130,585  42,280,868
2   34,314,197  32,425,892  31,326,268  30,528,737  28,857,755  27,439,897
3   33,686,811  32,317,835  32,171,743  31,892,301  32,171,831  31,135,732
4   30,766,940  29,038,128  28,022,877  27,518,358  27,100,656  26,663,984
5   26,000,591  25,496,885  25,799,832  25,667,499  25,241,962  24,013,669
6   26,244,928  25,036,358  24,520,943  23,664,830  22,934,047  22,710,272
7   22,756,008  21,704,626  21,284,224  20,038,679  19,359,003  18,467,908
8   20,551,016  19,946,179  19,941,173  19,854,759  18,996,738  19,445,952
9   18,781,489  17,450,425  16,625,787  16,425,732  15,406,243  15,273,092
10  21,542,277  21,346,601  20,032,426  19,022,535  18,629,181  18,165,476
11  17,680,826  17,546,506  17,035,098  16,814,092  16,571,754  16,659,441
12  17,278,608  16,884,524  17,159,425  17,250,415  17,017,491  16,371,016
13  20,344,867  19,525,109  19,556,189  19,750,306  18,907,171  18,559,647
14  19,468,523  19,420,089  18,987,488  18,342,158  17,017,654  16,187,768
15  19,772,054  18,952,840  19,038,958  19,306,660  19,528,631  19,290,239
16  15,425,869  14,810,153  14,293,675  14,171,476  13,561,814  12,566,797
17  16,972,678  16,280,835  15,943,751  15,895,653  15,512,487  15,551,206
18  15,775,941  15,683,523  15,599,877  15,716,865  15,643,890  15,211,402
19  11,987,607  11,538,140  11,445,101  11,332,466  10,829,810  10,258,118
20  14,747,112  14,727,945  14,587,631  14,883,180  14,951,254  15,002,961
21  13,415,797  13,372,269  12,818,717  11,989,227  12,001,501  11,084,300
22  11,022,200  11,132,731  11,183,965  11,067,317  10,848,633  10,338,950
23  10,139,065   9,668,048   9,579,836   9,701,756   9,910,493   9,903,821
24  10,057,794   9,838,034   9,462,206   9,053,004   8,736,804   8,490,288
25  10,415,948  10,570,993  10,785,683  11,043,829  11,276,481  11,132,098
26   9,333,152   8,878,772   8,686,592   8,465,683   8,430,509   8,453,854
27  10,318,311   9,915,646   9,431,796   9,134,576   8,518,957   8,253,620
28   8,531,561   8,267,752   8,216,153   8,174,194   8,137,222   8,263,294
29   9,463,000   9,466,995   9,210,270   8,643,494   8,740,077   8,739,389
..         ...         ...         ...         ...         ...         ...
31   4,522,341         NaN         NaN         NaN         NaN         NaN
32   6,108,758         NaN         NaN         NaN         NaN         NaN
33   5,396,958         NaN         NaN         NaN         NaN         NaN
34   5,219,982         NaN         NaN         NaN         NaN         NaN
35   5,800,726         NaN         NaN         NaN         NaN         NaN
36   5,069,257         NaN         NaN         NaN         NaN         NaN
37   4,621,003         NaN         NaN         NaN         NaN         NaN
38   4,870,569         NaN         NaN         NaN         NaN         NaN
39   4,673,869         NaN         NaN         NaN         NaN         NaN
40   4,982,722         NaN         NaN         NaN         NaN         NaN
41   4,384,616         NaN         NaN         NaN         NaN         NaN
42   4,584,147         NaN         NaN         NaN         NaN         NaN
43   3,686,315         NaN         NaN         NaN         NaN         NaN
44   4,046,856         NaN         NaN         NaN         NaN         NaN
45   3,942,387         NaN         NaN         NaN         NaN         NaN
46   3,605,908         NaN         NaN         NaN         NaN         NaN
47   3,827,860         NaN         NaN         NaN         NaN         NaN
48   4,150,828         NaN         NaN         NaN         NaN         NaN
49   2,874,684         NaN         NaN         NaN         NaN         NaN
50   3,115,501         NaN         NaN         NaN         NaN         NaN
51   3,019,338         NaN         NaN         NaN         NaN         NaN
52   2,913,380         NaN         NaN         NaN         NaN         NaN
53   2,926,242         NaN         NaN         NaN         NaN         NaN
54   3,228,607         NaN         NaN         NaN         NaN         NaN
55   2,589,198         NaN         NaN         NaN         NaN         NaN
56   2,381,826         NaN         NaN         NaN         NaN         NaN
57   2,354,184         NaN         NaN         NaN         NaN         NaN
58   1,931,948         NaN         NaN         NaN         NaN         NaN
59   2,378,469         NaN         NaN         NaN         NaN         NaN
60   2,020,354         NaN         NaN         NaN         NaN         NaN

      2008[11]    2007[12]    2006[13]    2005[14]
0          NaN         NaN         NaN         NaN
1   43,236,665  43,236,665  41,352,038  42,402,653
2   28,861,477  30,113,985  29,357,327  29,372,272
3   33,683,991  36,521,585  36,825,097  36,720,005
4   27,219,985  28,482,417  28,627,749  28,079,147
5   24,287,939  20,796,173  20,591,909  20,315,544
6   23,620,948  23,401,351  21,071,501  20,260,359
7   18,135,827  17,280,328  16,236,592  16,070,133
8   21,024,443  22,537,950  22,028,521  21,402,676
9   15,839,504  15,419,116  14,703,928  14,359,530
10  19,291,428  16,884,780  14,949,568  14,109,608
11  17,599,578  18,163,652  17,804,107  16,444,959
12  17,288,480  17,614,679  16,807,856  16,592,133
13  19,450,576  20,767,144  20,479,291  19,032,196
14  16,377,488  16,194,162  15,664,791  15,092,763
15  20,030,898  24,117,623  22,822,111  20,799,886
16  12,820,489  13,783,297  13,544,552  13,214,923
17  16,369,324  16,962,563  17,192,410  17,971,771
18  16,998,174  17,495,135  17,483,468  17,580,363
19  11,020,091  11,079,250  10,204,579  10,729,468
20  15,586,852  15,656,653  15,390,848  15,376,569
21  11,567,586  12,529,890  12,925,697  13,014,314
22  10,215,225  10,487,789  10,297,607   9,829,432
23   9,993,198  10,560,906  10,289,129  10,601,918
24   8,704,466   9,038,174   8,973,410   8,623,907
25  11,348,775  11,789,441  11,045,217  13,032,502
26   9,007,617   9,138,116   8,724,442   8,628,648
27   8,021,383   9,132,836   8,915,292   8,383,698
28   8,871,917   9,306,036   9,187,865   9,297,643
29   9,013,440  10,393,929   9,855,838   9,784,404
..         ...         ...         ...         ...
31         NaN         NaN         NaN         NaN
32         NaN         NaN         NaN         NaN
33         NaN         NaN         NaN         NaN
34         NaN         NaN         NaN         NaN
35         NaN         NaN         NaN         NaN
36         NaN         NaN         NaN         NaN
37         NaN         NaN         NaN         NaN
38         NaN         NaN         NaN         NaN
39         NaN         NaN         NaN         NaN
40         NaN         NaN         NaN         NaN
41         NaN         NaN         NaN         NaN
42         NaN         NaN         NaN         NaN
43         NaN         NaN         NaN         NaN
44         NaN         NaN         NaN         NaN
45         NaN         NaN         NaN         NaN
46         NaN         NaN         NaN         NaN
47         NaN         NaN         NaN         NaN
48         NaN         NaN         NaN         NaN
49         NaN         NaN         NaN         NaN
50         NaN         NaN         NaN         NaN
51         NaN         NaN         NaN         NaN
52         NaN         NaN         NaN         NaN
53         NaN         NaN         NaN         NaN
54         NaN         NaN         NaN         NaN
55         NaN         NaN         NaN         NaN
56         NaN         NaN         NaN         NaN
57         NaN         NaN         NaN         NaN
58         NaN         NaN         NaN         NaN
59         NaN         NaN         NaN         NaN
60         NaN         NaN         NaN         NaN

[61 rows x 18 columns]>

In [27]:
data.describe

<bound method NDFrame.describe of     Rank                              Airports (large hubs)  IATA  \
0  -2017                                                NaN  Code
1      1   Hartsfield–Jackson Atlanta International Airport   ATL
2      2                  Los Angeles International Airport   LAX
3      3                       O'Hare International Airport   ORD
4      4            Dallas/Fort Worth International Airport   DFW
5      5                       Denver International Airport   DEN
6      6              John F. Kennedy International Airport   JFK
7      7                San Francisco International Airport   SFO
8      8                     McCarran International Airport   LAS
9      9               Seattle–Tacoma International Airport   SEA
10    10            Charlotte Douglas International Airport   CLT
11    11               Newark Liberty International Airport   EWR
12    12                      Orlando International Airport   MCO
13    13           Phoenix Sky Harbor International Airport   PHX
14    14                        Miami International Airport   MIA
15    15               George Bush Intercontinental Airport   IAH
16    16                        Logan International Airport   BOS
17    17       Minneapolis–Saint Paul International Airport   MSP
18    18                       Detroit Metropolitan Airport   DTW
19    19    Fort Lauderdale–Hollywood International Airport   FLL
20    20                 Philadelphia International Airport   PHL
21    21                                  LaGuardia Airport   LGA
22    22         Baltimore–Washington International Airport   BWI
23    23               Salt Lake City International Airport   SLC
24    24          Ronald Reagan Washington National Airport   DCA
25    25            Washington Dulles International Airport   IAD
26    26                    San Diego International Airport   SAN
27    27                       Midway International Airport   MDW
28    28                        Tampa International Airport   TPA
29    29             Daniel K. Inouye International Airport   HNL
..   ...                                                ...   ...
31    31                                  Dallas Love Field   DAL
32    32            St. Louis Lambert International Airport   STL
33    33                    Nashville International Airport   BNA
34    34             Austin-Bergstrom International Airport   AUS
35    35                           William P. Hobby Airport   HOU
36    36                      Oakland International Airport   OAK
37    37    Norman Y. Mineta San José International Airport   SJC
38    38  Louis Armstrong New Orleans International Airport   MSY
39    39               Raleigh-Durham International Airport   RDU
40    40                  Kansas City International Airport   MCI
41    41                   Sacramento International Airport   SMF
42    42                                 John Wayne Airport   SNA
43    43            Cleveland Hopkins International Airport   CLE
44    44                  San Antonio International Airport   SAT
45    45            Southwest Florida International Airport   RSW
46    46                 Indianapolis International Airport   IND
47    47                   Pittsburgh International Airport   PIT
48    48             Luis Muñoz Marín International Airport   SJU
49    49  Cincinnati/Northern Kentucky International Air...   CVG
50    50          John Glenn Columbus International Airport   CMH
51    51                                    Kahului Airport   OGG
52    52                      Bradley International Airport   BDL
53    53                   Palm Beach International Airport   PBI
54    54             General Mitchell International Airport   MKE
55    55                 Jacksonville International Airport   JAX
56    56        Ted Stevens Anchorage International Airport   ANC
57    57                  Albuquerque International Sunport   ABQ
58    58                          Hollywood Burbank Airport   BUR
59    59              Buffalo Niagara International Airport   BUF
60    60                                    Eppley Airfield   OMA

             Major city served  State     2017[3]     2016[4]     2015[5]  \
0                          NaN    NaN         NaN         NaN         NaN
1                      Atlanta     GA  50,251,962  50,501,858  49,340,732
2                  Los Angeles     CA  41,232,416  39,636,042  36,351,226
3                      Chicago     IL  38,593,028  37,589,899  36,305,668
4            Dallas/Fort Worth     TX  31,861,933  31,283,579  31,589,832
5                       Denver     CO  29,809,091  28,267,394  26,280,043
6                     New York     NY  29,533,154  29,239,151  27,782,369
7                San Francisco     CA  26,900,016  25,707,101  24,190,549
8                    Las Vegas     NV  23,364,185  22,833,267  21,824,231
9               Seattle/Tacoma     WA  22,639,120  21,887,110  21,231,781
10                   Charlotte     NC  22,011,225  21,511,880  21,913,166
11           Newark/New Jersey     NJ  21,571,194  19,923,009  18,684,818
12                     Orlando     FL  21,565,444  20,283,541  18,759,938
13                     Phoenix     AZ  21,185,440  20,896,265  21,351,445
14                       Miami     FL  20,709,205  20,875,813  20,986,341
15                     Houston     TX  19,603,729  20,062,072  20,595,874
16                      Boston     MA  19,145,096  17,749,202  16,290,362
17        Minneapolis/St. Paul     MN  19,002,544  18,123,844  17,634,252
18                     Detroit     MI  17,325,600  16,826,287  16,255,520
19             Fort Lauderdale     FL  16,216,686  14,263,270  13,061,607
20                Philadelphia     PA  14,760,585  14,564,419  15,101,318
21                    New York     NY  14,737,834  14,706,123  14,762,593
22  Baltimore/Washington, D.C.     MD  13,214,185  12,340,972  11,738,828
23              Salt Lake City     UT  12,098,835  11,143,738  10,634,519
24            Washington, D.C.     VA  11,966,354  11,470,854  11,242,375
25            Washington, D.C.     VA  11,407,107  10,596,942  10,363,918
26                   San Diego     CA  11,107,078  10,340,164   9,985,739
27                     Chicago     IL  10,911,970  11,044,353  11,044,387
28                       Tampa     FL   9,830,583   9,194,994   9,150,414
29                    Honolulu     HI   9,743,989   9,656,340   9,656,340
..                         ...    ...         ...         ...         ...
31                      Dallas     TX   7,876,769   7,554,596   7,040,921
32                   St. Louis     MO   7,372,805   6,793,076   6,239,231
33                   Nashville     TN   7,015,119   6,338,517   5,708,852
34                      Austin     TX   6,973,115   6,095,545   5,797,547
35                     Houston     TX   6,741,870   6,285,181   5,937,944
36                     Oakland     CA   6,530,308   5,934,639   5,506,672
37                    San Jose     CA   6,225,148   5,321,603   4,885,690
38                 New Orleans     LA   6,005,527   5,569,705   5,329,696
39              Raleigh/Durham     NC   5,851,004   5,401,714   4,954,717
40                 Kansas City     MO   5,744,918   5,391,557   5,135,127
41                  Sacramento     CA   5,460,526   4,969,366   4,816,440
42                   Santa Ana     CA   5,195,047   5,217,242   4,945,175
43                   Cleveland     OH   4,562,740   4,205,739   4,083,476
44                 San Antonio     TX   4,521,611   4,179,994   4,091,389
45                  Fort Myers     FL   4,461,304   4,277,214   4,159,212
46                Indianapolis     IN   4,376,432   4,216,766   3,889,567
47                  Pittsburgh     PA   4,327,431   3,986,114   3,890,677
48                    San Juan     PR   4,163,587   4,343,354   4,218,785
49        Cincinnati/Covington  OH/KY   3,926,158   3,269,979   3,036,697
50                    Columbus     OH   3,765,007   3,567,864   3,312,496
51                     Kahului     HI   3,442,189   3,352,813   3,220,753
52                    Hartford     CT   3,214,976   2,982,194   2,926,047
53             West Palm Beach     FL   3,166,532   3,100,624   3,113,485
54                   Milwaukee     WI   3,121,910   3,327,536   3,229,876
55                Jacksonville     FL   2,759,067   2,729,129   2,716,465
56                   Anchorage     AK   2,556,188   2,563,524   2,525,876
57                 Albuquerque     NM   2,483,861   2,341,719   2,323,850
58                     Burbank     CA   2,365,361   2,104,625   1,972,531
59                     Buffalo     NY   2,348,463   2,313,724   2,331,545
60                       Omaha     NE   2,303,223   2,127,387   2,046,155

       2014[6]     2013[7]     2012[8]     2011[9]    2010[10]    2009[11]  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1   46,604,273  45,308,407  45,798,809  44,414,121  43,130,585  42,280,868
2   34,314,197  32,425,892  31,326,268  30,528,737  28,857,755  27,439,897
3   33,686,811  32,317,835  32,171,743  31,892,301  32,171,831  31,135,732
4   30,766,940  29,038,128  28,022,877  27,518,358  27,100,656  26,663,984
5   26,000,591  25,496,885  25,799,832  25,667,499  25,241,962  24,013,669
6   26,244,928  25,036,358  24,520,943  23,664,830  22,934,047  22,710,272
7   22,756,008  21,704,626  21,284,224  20,038,679  19,359,003  18,467,908
8   20,551,016  19,946,179  19,941,173  19,854,759  18,996,738  19,445,952
9   18,781,489  17,450,425  16,625,787  16,425,732  15,406,243  15,273,092
10  21,542,277  21,346,601  20,032,426  19,022,535  18,629,181  18,165,476
11  17,680,826  17,546,506  17,035,098  16,814,092  16,571,754  16,659,441
12  17,278,608  16,884,524  17,159,425  17,250,415  17,017,491  16,371,016
13  20,344,867  19,525,109  19,556,189  19,750,306  18,907,171  18,559,647
14  19,468,523  19,420,089  18,987,488  18,342,158  17,017,654  16,187,768
15  19,772,054  18,952,840  19,038,958  19,306,660  19,528,631  19,290,239
16  15,425,869  14,810,153  14,293,675  14,171,476  13,561,814  12,566,797
17  16,972,678  16,280,835  15,943,751  15,895,653  15,512,487  15,551,206
18  15,775,941  15,683,523  15,599,877  15,716,865  15,643,890  15,211,402
19  11,987,607  11,538,140  11,445,101  11,332,466  10,829,810  10,258,118
20  14,747,112  14,727,945  14,587,631  14,883,180  14,951,254  15,002,961
21  13,415,797  13,372,269  12,818,717  11,989,227  12,001,501  11,084,300
22  11,022,200  11,132,731  11,183,965  11,067,317  10,848,633  10,338,950
23  10,139,065   9,668,048   9,579,836   9,701,756   9,910,493   9,903,821
24  10,057,794   9,838,034   9,462,206   9,053,004   8,736,804   8,490,288
25  10,415,948  10,570,993  10,785,683  11,043,829  11,276,481  11,132,098
26   9,333,152   8,878,772   8,686,592   8,465,683   8,430,509   8,453,854
27  10,318,311   9,915,646   9,431,796   9,134,576   8,518,957   8,253,620
28   8,531,561   8,267,752   8,216,153   8,174,194   8,137,222   8,263,294
29   9,463,000   9,466,995   9,210,270   8,643,494   8,740,077   8,739,389
..         ...         ...         ...         ...         ...         ...
31   4,522,341         NaN         NaN         NaN         NaN         NaN
32   6,108,758         NaN         NaN         NaN         NaN         NaN
33   5,396,958         NaN         NaN         NaN         NaN         NaN
34   5,219,982         NaN         NaN         NaN         NaN         NaN
35   5,800,726         NaN         NaN         NaN         NaN         NaN
36   5,069,257         NaN         NaN         NaN         NaN         NaN
37   4,621,003         NaN         NaN         NaN         NaN         NaN
38   4,870,569         NaN         NaN         NaN         NaN         NaN
39   4,673,869         NaN         NaN         NaN         NaN         NaN
40   4,982,722         NaN         NaN         NaN         NaN         NaN
41   4,384,616         NaN         NaN         NaN         NaN         NaN
42   4,584,147         NaN         NaN         NaN         NaN         NaN
43   3,686,315         NaN         NaN         NaN         NaN         NaN
44   4,046,856         NaN         NaN         NaN         NaN         NaN
45   3,942,387         NaN         NaN         NaN         NaN         NaN
46   3,605,908         NaN         NaN         NaN         NaN         NaN
47   3,827,860         NaN         NaN         NaN         NaN         NaN
48   4,150,828         NaN         NaN         NaN         NaN         NaN
49   2,874,684         NaN         NaN         NaN         NaN         NaN
50   3,115,501         NaN         NaN         NaN         NaN         NaN
51   3,019,338         NaN         NaN         NaN         NaN         NaN
52   2,913,380         NaN         NaN         NaN         NaN         NaN
53   2,926,242         NaN         NaN         NaN         NaN         NaN
54   3,228,607         NaN         NaN         NaN         NaN         NaN
55   2,589,198         NaN         NaN         NaN         NaN         NaN
56   2,381,826         NaN         NaN         NaN         NaN         NaN
57   2,354,184         NaN         NaN         NaN         NaN         NaN
58   1,931,948         NaN         NaN         NaN         NaN         NaN
59   2,378,469         NaN         NaN         NaN         NaN         NaN
60   2,020,354         NaN         NaN         NaN         NaN         NaN

      2008[11]    2007[12]    2006[13]    2005[14]
0          NaN         NaN         NaN         NaN
1   43,236,665  43,236,665  41,352,038  42,402,653
2   28,861,477  30,113,985  29,357,327  29,372,272
3   33,683,991  36,521,585  36,825,097  36,720,005
4   27,219,985  28,482,417  28,627,749  28,079,147
5   24,287,939  20,796,173  20,591,909  20,315,544
6   23,620,948  23,401,351  21,071,501  20,260,359
7   18,135,827  17,280,328  16,236,592  16,070,133
8   21,024,443  22,537,950  22,028,521  21,402,676
9   15,839,504  15,419,116  14,703,928  14,359,530
10  19,291,428  16,884,780  14,949,568  14,109,608
11  17,599,578  18,163,652  17,804,107  16,444,959
12  17,288,480  17,614,679  16,807,856  16,592,133
13  19,450,576  20,767,144  20,479,291  19,032,196
14  16,377,488  16,194,162  15,664,791  15,092,763
15  20,030,898  24,117,623  22,822,111  20,799,886
16  12,820,489  13,783,297  13,544,552  13,214,923
17  16,369,324  16,962,563  17,192,410  17,971,771
18  16,998,174  17,495,135  17,483,468  17,580,363
19  11,020,091  11,079,250  10,204,579  10,729,468
20  15,586,852  15,656,653  15,390,848  15,376,569
21  11,567,586  12,529,890  12,925,697  13,014,314
22  10,215,225  10,487,789  10,297,607   9,829,432
23   9,993,198  10,560,906  10,289,129  10,601,918
24   8,704,466   9,038,174   8,973,410   8,623,907
25  11,348,775  11,789,441  11,045,217  13,032,502
26   9,007,617   9,138,116   8,724,442   8,628,648
27   8,021,383   9,132,836   8,915,292   8,383,698
28   8,871,917   9,306,036   9,187,865   9,297,643
29   9,013,440  10,393,929   9,855,838   9,784,404
..         ...         ...         ...         ...
31         NaN         NaN         NaN         NaN
32         NaN         NaN         NaN         NaN
33         NaN         NaN         NaN         NaN
34         NaN         NaN         NaN         NaN
35         NaN         NaN         NaN         NaN
36         NaN         NaN         NaN         NaN
37         NaN         NaN         NaN         NaN
38         NaN         NaN         NaN         NaN
39         NaN         NaN         NaN         NaN
40         NaN         NaN         NaN         NaN
41         NaN         NaN         NaN         NaN
42         NaN         NaN         NaN         NaN
43         NaN         NaN         NaN         NaN
44         NaN         NaN         NaN         NaN
45         NaN         NaN         NaN         NaN
46         NaN         NaN         NaN         NaN
47         NaN         NaN         NaN         NaN
48         NaN         NaN         NaN         NaN
49         NaN         NaN         NaN         NaN
50         NaN         NaN         NaN         NaN
51         NaN         NaN         NaN         NaN
52         NaN         NaN         NaN         NaN
53         NaN         NaN         NaN         NaN
54         NaN         NaN         NaN         NaN
55         NaN         NaN         NaN         NaN
56         NaN         NaN         NaN         NaN
57         NaN         NaN         NaN         NaN
58         NaN         NaN         NaN         NaN
59         NaN         NaN         NaN         NaN
60         NaN         NaN         NaN         NaN

[61 rows x 18 columns]>

In [13]:
data.dtypes

Rank                      int64
Airports (large hubs)    object
IATA                     object
Major city served        object
State                    object
2017[3]                  object
2016[4]                  object
2015[5]                  object
2014[6]                  object
2013[7]                  object
2012[8]                  object
2011[9]                  object
2010[10]                 object
2009[11]                 object
2008[11]                 object
2007[12]                 object
2006[13]                 object
2005[14]                 object
dtype: object

In [14]:
data.shape

(61, 18)

In [18]:
data

,Rank,Airports (large hubs),IATA,Major city served,State,2017[3],2016[4],2015[5],2014[6],2013[7],2012[8],2011[9],2010[10],2009[11],2008[11],2007[12],2006[13],2005[14]
0,-2017,NaN,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Hartsfield–Jackson Atlanta International Airport,ATL,Atlanta,GA,"50,251,962","50,501,858","49,340,732","46,604,273","45,308,407","45,798,809","44,414,121","43,130,585","42,280,868","43,236,665","43,236,665","41,352,038","42,402,653"
2,2,Los Angeles International Airport,LAX,Los Angeles,CA,"41,232,416","39,636,042","36,351,226","34,314,197","32,425,892","31,326,268","30,528,737","28,857,755","27,439,897","28,861,477","30,113,985","29,357,327","29,372,272"
3,3,O'Hare International Airport,ORD,Chicago,IL,"38,593,028","37,589,899","36,305,668","33,686,811","32,317,835","32,171,743","31,892,301","32,171,831","31,135,732","33,683,991","36,521,585","36,825,097","36,720,005"
4,4,Dallas/Fort Worth International Airport,DFW,Dallas/Fort Worth,TX,"31,861,933","31,283,579","31,589,832","30,766,940","29,038,128","28,022,877","27,518,358","27,100,656","26,663,984","27,219,985","28,482,417","28,627,749","28,079,147"
5,5,Denver International Airport,DEN,Denver,CO,"29,809,091","28,267,394","26,280,043","26,000,591","25,496,885","25,799,832","25,667,499","25,241,962","24,013,669","24,287,939","20,796,173","20,591,909","20,315,544"
6,6,John F. Kennedy International Airport,JFK,New York,NY,"29,533,154","29,239,151","27,782,369","26,244,928","25,036,358","24,520,943","23,664,830","22,934,047","22,710,272","23,620,948","23,401,351","21,071,501","20,260,359"
7,7,San Francisco International Airport,SFO,San Francisco,CA,"26,900,016","25,707,101","24,190,549","22,756,008","21,704,626","21,284,224","20,038,679","19,359,003","18,467,908","18,135,827","17,280,328","16,236,592","16,070,133"
8,8,McCarran International Airport,LAS,Las Vegas,NV,"23,364,185","22,833,267","21,824,231","20,551,016","19,946,179","19,941,173","19,854,759","18,996,738","19,445,952","21,024,443","22,537,950","22,028,521","21,402,676"
9,9,Seattle–Tacoma International Airport,SEA,Seattle/Tacoma,WA,"22,639,120","21,887,110","21,231,781","18,781,489","17,450,425","16,625,787","16,425,732","15,406,243","15,273,092","15,839,504","15,419,116","14,703,928","14,359,530"
10,10,Charlotte Douglas International Airport,CLT,Charlotte,NC,"22,011,225","21,511,880","21,913,166","21,542,277","21,346,601","20,032,426","19,022,535","18,629,181","18,165,476","19,291,428","16,884,780","14,949,568","14,109,608"
11,11,Newark Liberty International Airport,EWR,Newark/New Jersey,NJ,"21,571,194","19,923,009","18,684,818","17,680,826","17,546,506","17,035,098","16,814,092","16,571,754","16,659,441","17,599,578","18,163,652","17,804,107","16,444,959"
12,12,Orlando International Airport,MCO,Orlando,FL,"21,565,444","20,283,541","18,759,938","17,278,608","16,884,524","17,159,425","17,250,415","17,017,491","16,371,016","17,288,480","17,614,679","16,807,856","16,592,133"
13,13,Phoenix Sky Harbor International Airport,PHX,Phoenix,AZ,"21,185,440","20,896,265","21,351,445","20,344,867","19,525,109","19,556,189","19,750,306","18,907,171","18,559,647","19,450,576","20,767,144","20,479,291","19,032,196"
14,14,Miami International Airport,MIA,Miami,FL,"20,709,205","20,875,813","20,986,341","19,468,523","19,420,089","18,987,488","18,342,158","17,017,654","16,187,768","16,377,488","16,194,162","15,664,791","15,092,763"
15,15,George Bush Intercontinental Airport,IAH,Houston,TX,"19,603,729","20,062,072","20,595,874","19,772,054","18,952,840","19,038,958","19,306,660","19,528,631","19,290,239","20,030,898","24,117,623","22,822,111","20,799,886"
16,16,Logan International Airport,BOS,Boston,MA,"19,145,096","17,749,202","16,290,362","15,425,869","14,810,153","14,293,675","14,171,476","13,561,814","12,566,797","12,820,489","13,783,297","13,544,552","13,214,923"
17,17,Minneapolis–Saint Paul International Airport,MSP,Minneapolis/St. Paul,MN,"19,002,544","18,123,844","17,634,252","16,972,678","16,280,835","15,943,751","15,895,653","15,512,487","15,551,206","16,369,324","16,962,563","17,192,410","17,971,771"
18,18,Detroit Metropolitan Airport,DTW,Detroit,MI,"17,325,600","16,826,287","16,255,520","15,775,941","15,683,523","15,599,877","15,716,865","15,643,890","15,211,402","16,998,174","17,495,135","17,483,468","17,580,363"
19,19,Fort Lauderdale–Hollywood International Airport,FLL,Fort Lauderdale,FL,"16,216,686","14,263,270","13,061,607","11,987,607","11,538,140","11,445,101","11,332,466","10,829,810","10,258,118","11,020,091","11,079,250","10,204,579","10,729,468"
20,20,Philadelphia International Airport,PHL,Philadelphia,PA,"14,760,585","14,564,419","15,101,318","14,747,112","14,727,945","14,587,631","14,883,180","14,951,254","15,002,961","15,586,852","15,656,653","15,390,848","15,376,569"
21,21,LaGuardia Airport,LGA,New York,NY,"14,737,834","14,706,123","14,762,593","13,415,797","13,372,269","12,818,717","11,989,227","12,001,501","11,084,300","11,567,586","12,529,890","12,925,697","13,014,314"
22,22,Baltimore–Washington International Airport,BWI,"Baltimore/Washington, D.C.",MD,"13,214,185","12,340,972","11,738,828","11,022,200","11,132,731","11,183,965","11,067,317","10,848,633","10,338,950","10,215,225","10,487,789","10,297,607","9,829,432"
23,23,Salt Lake City International Airport,SLC,Salt Lake City,UT,"12,098,835","11,143,738","10,634,519","10,139,065","9,668,048","9,579,836","9,701,756","9,910,493","9,903,821","9,993,198","10,560,906","10,289,129","10,601,918"
24,24,Ronald Reagan Washington National Airport,DCA,"Washington, D.C.",VA,"11,966,354","11,470,854","11,242,375","10,057,794","9,838,034","9,462,206","9,053,004","8,736,804","8,490,288","8,704,466","9,038,174","8,973,410","8,623,907"
25,25,Washington Dulles International Airport,IAD,"Washington, D.C.",VA,"11,407,107","10,596,942","10,363,918","10,415,948","10,570,993","10,785,683","11,043,829","11,276,481","11,132,098","11,348,775","11,789,441","11,045,217","13,032,502"
26,26,San Diego International Airport,SAN,San Diego,CA,"11,107,078","10,340,164","9,985,739","9,333,152","8,878,772","8,686,592","8,465,683","8,430,509","8,453,854","9,007,617","9,138,116","8,724,442","8,628,648"
27,27,Midway International Airport,MDW,Chicago,IL,"10,911,970","11,044,353","11,044,387","10,318,311","9,915,646","9,431,796","9,134,576","8,518,957","8,253,620","8,021,383","9,132,836","8,915,292","8,383,698"
28,28,Tampa International Airport,TPA,Tampa,FL,"9,830,583","9,194,994","9,150,414","8,531,561","8,267,752","8,216,153","8,174,194","8,137,222","8,263,294","8,871,917","9,306,036","9,187,865","9,297,643"
29,29,Daniel K. Inouye International Airport,HNL,Honolulu,HI,"9,743,989","9,656,340","9,656,340","9,463,000","9,466,995","9,210,270","8,643,494","8,740,077","8,739,389","9,013,440","10,393,929","9,855,838","9,784,404"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,31,Dallas Love Field,DAL,Dallas,TX,"7,876,769","7,554,596","7,040,921","4,522,341",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32,St. Louis Lambert International Airport,STL,St. Louis,MO,"7,372,805","6,793,076","6,239,231","6,108,758",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33,Nashville International Airport,BNA,Nashville,TN,"7,015,119","6,338,517","5,708,852","5,396,958",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34,Austin-Bergstrom International Airport,AUS,Austin,TX,"6,973,115","6,095,545","5,797,547","5,219,982",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,35,William P. Hobby Airport,HOU,Houston,TX,"6,741,870","6,285,181","5,937,944","5,800,726",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,36,Oakland International Airport,OAK,Oakland,CA,"6,530,308","5,934,639","5,506,672","5,069,257",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,37,Norman Y. Mineta San José International Airport,SJC,San Jose,CA,"6,225,148","5,321,603","4,885,690","4,621,003",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,38,Louis Armstrong New Orleans International Airport,MSY,New Orleans,LA,"6,005,527","5,569,705","5,329,696","4,870,569",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,39,Raleigh-Durham International Airport,RDU,Raleigh/Durham,NC,"5,851,004","5,401,714","4,954,717","4,673,869",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,40,Kansas City International Airport,MCI,Kansas City,MO,"5,744,918","5,391,557","5,135,127","4,982,722",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,41,Sacramento International Airport,SMF,Sacramento,CA,"5,460,526","4,969,366","4,816,440","4,384,616",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,42,John Wayne Airport,SNA,Santa Ana,CA,"5,195,047","5,217,242","4,945,175","4,584,147",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,43,Cleveland Hopkins International Airport,CLE,Cleveland,OH,"4,562,740","4,205,739","4,083,476","3,686,315",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,44,San Antonio International Airport,SAT,San Antonio,TX,"4,521,611","4,179,994","4,091,389","4,046,856",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,45,Southwest Florida International Airport,RSW,Fort Myers,FL,"4,461,304","4,277,214","4,159,212","3,942,387",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,46,Indianapolis International Airport,IND,Indianapolis,IN,"4,376,432","4,216,766","3,889,567","3,605,908",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,47,Pittsburgh International Airport,PIT,Pittsburgh,PA,"4,327,431","3,986,114","3,890,677","3,827,860",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,48,Luis Muñoz Marín International Airport,SJU,San Juan,PR,"4,163,587","4,343,354","4,218,785","4,150,828",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,49,Cincinnati/Northern Kentucky International Air...,CVG,Cincinnati/Covington,OH/KY,"3,926,158","3,269,979","3,036,697","2,874,684",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,50,John Glenn Columbus International Airport,CMH,Columbus,OH,"3,765,007","3,567,864","3,312,496","3,115,501",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,51,Kahului Airport,OGG,Kahului,HI,"3,442,189","3,352,813","3,220,753","3,019,338",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52,Bradley International Airport,BDL,Hartford,CT,"3,214,976","2,982,194","2,926,047","2,913,380",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,53,Palm Beach International Airport,PBI,West Palm Beach,FL,"3,166,532","3,100,624","3,113,485","2,926,242",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,54,General Mitchell International Airport,MKE,Milwaukee,WI,"3,121,910","3,327,536","3,229,876","3,228,607",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,55,Jacksonville International Airport,JAX,Jacksonville,FL,"2,759,067","2,729,129","2,716,465","2,589,198",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,56,Ted Stevens Anchorage International Airport,ANC,Anchorage,AK,"2,556,188","2,563,524","2,525,876","2,381,826",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,57,Albuquerque International Sunport,ABQ,Albuquerque,NM,"2,483,861","2,341,719","2,323,850","2,354,184",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,58,Hollywood Burbank Airport,BUR,Burbank,CA,"2,365,361","2,104,625","1,972,531","1,931,948",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,59,Buffalo Niagara International Airport,BUF,Buffalo,NY,"2,348,463","2,313,724","2,331,545","2,378,469",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,60,Eppley Airfield,OMA,Omaha,NE,"2,303,223","2,127,387","2,046,155","2,020,354",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2nd Data source

In [33]:
airportd= open('BuffaloAirport.txt','w')

3rd Data Source

In [36]:
aviation= open('AviationSafety.txt','w')

4th Data Source

In [37]:
data4 = pd.read_csv('aaa.csv')

In [38]:
data4

,"Passengers (All Carriers - Buffalo, NY: Buffalo Niagara International (Origin Airport))",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Year,Month,DOMESTIC,INTERNATIONAL,TOTAL
1,2002,10,"182,491",NaN,"182,491"
2,2002,11,"153,844",0,"153,844"
3,2002,12,"159,958",0,"159,958"
4,2002,TOTAL,"1,863,736",242,"1,863,978"
5,2003,1,"133,718",NaN,"133,718"
6,2003,2,"134,805",NaN,"134,805"
7,2003,3,"155,532",NaN,"155,532"
8,2003,4,"168,680",6,"168,686"
9,2003,5,"169,676",3,"169,679"
10,2003,6,"164,517",NaN,"164,517"
11,2003,7,"205,812",NaN,"205,812"
12,2003,8,"205,192",NaN,"205,192"
13,2003,9,"164,829",NaN,"164,829"
14,2003,10,"185,346",NaN,"185,346"
15,2003,11,"160,285",NaN,"160,285"
16,2003,12,"161,973",1,"161,974"
17,2003,TOTAL,"2,010,365",10,"2,010,375"
18,2004,1,"137,737",NaN,"137,737"
19,2004,2,"150,361",NaN,"150,361"
20,2004,3,"174,529",NaN,"174,529"
21,2004,4,"185,791",0,"185,791"
22,2004,5,"186,255",48,"186,303"
23,2004,6,"184,645",26,"184,671"
24,2004,7,"215,133",73,"215,206"
25,2004,8,"222,027",117,"222,144"
26,2004,9,"174,460",1,"174,461"
27,2004,10,"198,061",0,"198,061"
28,2004,11,"177,738",2,"177,740"
29,2004,12,"172,454",9,"172,463"
...,...,...,...,...,...
182,2016,9,"196,609",6,"196,615"
183,2016,10,"207,439",0,"207,439"
184,2016,11,"179,417",2,"179,419"
185,2016,12,"173,145",NaN,"173,145"
186,2016,TOTAL,"2,303,568",432,"2,304,000"
187,2017,1,"156,085",7,"156,092"
188,2017,2,"154,564",13,"154,577"
189,2017,3,"190,326",NaN,"190,326"
190,2017,4,"199,474",14,"199,488"
191,2017,5,"207,515",NaN,"207,515"
192,2017,6,"202,902",15,"202,917"
193,2017,7,"222,788",44,"222,832"
194,2017,8,"228,294",13,"228,307"
195,2017,9,"193,745",0,"193,745"
196,2017,10,"210,558",0,"210,558"
197,2017,11,"187,045",NaN,"187,045"
198,2017,12,"183,339",49,"183,388"
199,2017,TOTAL,"2,336,635",155,"2,336,790"
200,2018,1,"162,591",37,"162,628"
201,2018,2,"163,745",NaN,"163,745"
202,2018,3,"214,577",NaN,"214,577"
203,2018,4,"200,740",NaN,"200,740"
204,2018,5,"224,977",NaN,NaN
205,2018,6,"222,349",NaN,NaN
206,2018,7,"246,207",NaN,NaN
207,2018,TOTAL,"1,435,186",37,"741,690"
208,NaN,NaN,NaN,NaN,NaN
209,Note: All numbers are for scheduled services.,NaN,NaN,NaN,NaN
210,NaN,NaN,NaN,NaN,NaN
211,SOURCE: Bureau of Transportation Statistics T-...,NaN,NaN,NaN,NaN